.our-statistics {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-bottom: 54px;
    @media (min-width: 1024px) {
        flex-direction: row;
    }

    // .our-statistics__title

    &__title {
        margin-right: auto;
        margin-bottom: 40px;
        @media (min-width: 1200px) {
            margin-right: 158px;
        }
    }

    // .our-statistics__table

    &__table {
    }
}




