<section class="our-works">
    <div class="our-works__container">
        <div class="our-works__content">
            <h2 class="our-works__title container headline headline__second headline__second_our-works"><span>Наши</span> работы</h2>
            <div class="our-works__list our-works-list">
                <div class="our-works-list__left">
                    <a href="#" class="our-works-list__item our-works-list-item our-works-list-item_height">
                        <div class="our-works-list-item__content our-works-list-item__content_height">
                            <div class="our-works-list-item__content-item our-works-list-item__content-item_height">
                                <h3 class="our-works-list-item__title-height headline headline__third headline__third_our-works"><span>Раздвижные шумоизоляционные перегородки для culinaryon.ru</span></h3>
                                <span class="our-works-list-item__decr-height">А так же лофт-перегородки для зонирования секций мастер-классов и для зонирования холла. Более 80 м2.</span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="our-works-list__right">
                        <a href="#" class="our-works-list__item our-works-list-item our-works-list-item_low">
                            <div class="our-works-list-item__content">
                                <div class="our-works-list-item__content-item">
                                    <img src="../../img/ourWorksLogo02.png" alt="" class="our-works-list-item__img">
                                    <span class="our-works-list-item__btn">Подробнее</span>
                                </div>
                            </div>
                        </a>
                        <a href="#" class="our-works-list__item our-works-list-item our-works-list-item_low">
                            <div class="our-works-list-item__content">
                                <div class="our-works-list-item__content-item">
                                    <img src="../../img/ourWorksLogo03.png" alt="" class="our-works-list-item__img">
                                    <span class="our-works-list-item__btn">Подробнее</span>
                                </div>
                            </div>
                        </a>
                        <a href="#" class="our-works-list__item our-works-list-item_detail our-works-list-item_low">
                            <div class="our-works-list-item__content our-works-list-item__content_detail">
                                <div class="our-works-list-item__content-item">
                                    <span class="our-works-list-item__title-low">Все проекты</span>
                                    <span class="our-works-list-item__decr-low">Более 700 проектов</span>
                                </div>
                            </div>
                        </a>
                        <a href="#" class="our-works-list__item our-works-list-item our-works-list-item_low">
                            <div class="our-works-list-item__content">
                                <div class="our-works-list-item__content-item">
                                    <img src="../../img/ourWorksLogo04.png" alt="" class="our-works-list-item__img">
                                    <span class="our-works-list-item__btn">Подробнее</span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>