<div class="footer__top">
    <div class="footer-top container">
      <div class="footer-top__logo footer-logo">
        <svg>
          <use xlink:href="img/sprite.svg#logo"></use>
        </svg>
      </div>
      <nav class="footer-top__navigation footer-navigation">
        <ul class="footer-navigation__list">
            <li class="footer-navigation__item">
                <a href="#" class="footer-navigation__link">О нас</a>
                <ul class="footer-navigation-sublist">
                    <li class="footer-navigation-sublist__item"><a href="" class="footer-navigation-sublist__link">Производство</a></li>
                    <li class="footer-navigation-sublist__item"><a href="" class="footer-navigation-sublist__link">Новости</a></li>
                    <li class="footer-navigation-sublist__item"><a href="" class="footer-navigation-sublist__link">Вакансии</a></li>
                    <li class="footer-navigation-sublist__item"><a href="" class="footer-navigation-sublist__link">Реквизиты</a></li>
                    <li class="footer-navigation-sublist__item"><a href="" class="footer-navigation-sublist__link">Контакты</a></li>
                    <li class="footer-navigation-sublist__item"><a href="" class="footer-navigation-sublist__link">Таблица цветов RAL</a></li>
                    <li class="footer-navigation-sublist__item"><a href="" class="footer-navigation-sublist__link">Отделки лдсп</a></li>
                    <li class="footer-navigation-sublist__item footer-navigation-sublist__item_last"><a href="" class="footer-navigation-sublist__link">Скачать каталог</a></li>
                </ul>
            </li>
            <li class="footer-navigation__item">
                <a href="#" class="footer-navigation__link">Перегородки</a>
                <ul class="footer-navigation-sublist">
                    <li class="footer-navigation-sublist__item"><a href="" class="footer-navigation-sublist__link">Противопожарные</a></li>
                    <li class="footer-navigation-sublist__item"><a href="" class="footer-navigation-sublist__link">Для офиса</a></li>
                    <li class="footer-navigation-sublist__item"><a href="" class="footer-navigation-sublist__link">Стационарные</a></li>
                    <li class="footer-navigation-sublist__item"><a href="" class="footer-navigation-sublist__link">Стеклянные</a></li>
                    <li class="footer-navigation-sublist__item"><a href="" class="footer-navigation-sublist__link">Алюминиевые</a></li>
                    <li class="footer-navigation-sublist__item footer-navigation-sublist__item_new"><a href="" class="footer-navigation-sublist__link ">Цельностеклянные</a></li>
                    <li class="footer-navigation-sublist__item"><a href="" class="footer-navigation-sublist__link">Раздвижные</a></li>
                    <li class="footer-navigation-sublist__item"><a href="" class="footer-navigation-sublist__link">Лофт</a></li>
                    <li class="footer-navigation-sublist__item"><a href="" class="footer-navigation-sublist__link">Smart-glass</a></li>
                    <li class="footer-navigation-sublist__item"><a href="" class="footer-navigation-sublist__link">С жалюзи</a></li>
                    <li class="footer-navigation-sublist__item"><a href="" class="footer-navigation-sublist__link">Раздвижные стены</a></li>
                    <li class="footer-navigation-sublist__item"><a href="" class="footer-navigation-sublist__link">Раздвижные грамошки</a></li>
                    <li class="footer-navigation-sublist__item"><a href="" class="footer-navigation-sublist__link">Звукоизолирующие</a></li>
                    <li class="footer-navigation-sublist__item footer-navigation-sublist__item_last"><a href="" class="footer-navigation-sublist__link">Комбинированные с лдсп
                    </a></li>
                </ul>
            </li>
            <li class="footer-navigation__item">
                <a href="#" class="footer-navigation__link">Двери</a>
                <ul class="footer-navigation-sublist">
                    <li class="footer-navigation-sublist__item"><a href="" class="footer-navigation-sublist__link">Противопожарные</a></li>
                    <li class="footer-navigation-sublist__item"><a href="" class="footer-navigation-sublist__link">Входные</a></li>
                    <li class="footer-navigation-sublist__item footer-navigation-sublist__item_new"><a href="" class="footer-navigation-sublist__link ">Автоматические</a></li>
                    <li class="footer-navigation-sublist__item"><a href="" class="footer-navigation-sublist__link">Раздвижные</a></li>
                    <li class="footer-navigation-sublist__item"><a href="" class="footer-navigation-sublist__link">Распашные</a></li>
                    <li class="footer-navigation-sublist__item"><a href="" class="footer-navigation-sublist__link">Маятниковые</a></li>
                    <li class="footer-navigation-sublist__item"><a href="" class="footer-navigation-sublist__link">Лофт</a></li>
                    <li class="footer-navigation-sublist__item footer-navigation-sublist__item_last"><a href="" class="footer-navigation-sublist__link">В тонком профиле (slim)</a></li>
                    </a></li>
                </ul>
            </li>
            <li class="footer-navigation__item">
                <a href="#" class="footer-navigation__link">Конструкции</a>
                <ul class="footer-navigation-sublist">
                    <li class="footer-navigation-sublist__item"><a href="" class="footer-navigation-sublist__link">Стеклянные козырьки</a></li>
                    <li class="footer-navigation-sublist__item"><a href="" class="footer-navigation-sublist__link">Зенитные фонари</a></li>
                    <li class="footer-navigation-sublist__item"><a href="" class="footer-navigation-sublist__link">Ограждения</a></li>
                    <li class="footer-navigation-sublist__item"><a href="" class="footer-navigation-sublist__link">Лестницы из стекла</a></li>
                    <li class="footer-navigation-sublist__item footer-navigation-sublist__item_new"><a href="" class="footer-navigation-sublist__link  ">Остекление шахты лифта</a></li>
                    <li class="footer-navigation-sublist__item"><a href="" class="footer-navigation-sublist__link">Полы из стекла</a></li>
                    <li class="footer-navigation-sublist__item"><a href="" class="footer-navigation-sublist__link">Крыши из стекла</a></li>
                    <li class="footer-navigation-sublist__item"><a href="" class="footer-navigation-sublist__link">Душевые</a></li>
                    <li class="footer-navigation-sublist__item"><a href="" class="footer-navigation-sublist__link">Остекление террас</a></li>
                    <li class="footer-navigation-sublist__item footer-navigation-sublist__item_last"><a href="" class="footer-navigation-sublist__link">Стеклянные тамбуры</a></li>
                    </a></li>
                </ul>
            </li>
            <li class="footer-navigation__item">
                <a href="#" class="footer-navigation__link">Цены</a>
                <ul class="footer-navigation-sublist">
                    <li class="footer-navigation-sublist__item"><a href="" class="footer-navigation-sublist__link">Сроки</a></li>
                    <li class="footer-navigation-sublist__item"><a href="" class="footer-navigation-sublist__link">Акции</a></li>
                    <li class="footer-navigation-sublist__item"><a href="" class="footer-navigation-sublist__link">Выполненные</a></li>
                    <li class="footer-navigation-sublist__item footer-navigation-sublist__item_last"><a href="" class="footer-navigation-sublist__link">Проекты</a></li>
                    </a></li>
                </ul>
            </li>
        </ul>
      </nav>
</div>
    
      




      
      




