<div class="footer__center footer-center">
    <div class="footer-center__container container">
        <div class="footer-center__content">
            <div class="footer-center__left">
                    <a class="footer-center__tel-icon header-worktime-tel-feedback__tel-icon btn btn__icon" href="tel:+78123177567">
                    </a>
                    <div class="footer-center__tel-feedback">
                      <a class="footer-center__tel" href="tel:+78123177567">
                        +7 (812) 317-75-67
                      </a>
                      <button class="footer-center__feedback btn btn__order-feedback btn-reset">Заказать обратный звонок</button>
                    </div>
                    <button class="footer-center__btn btn btn__feedback btn__feedback_footer btn-reset">Заказать звонок</button>
            </div>
            <div class="footer-center__right">
                <div class="footer-center__address">
                    <a href="" class="footer-center__address-icon btn btn__icon">
                    </a>
                    <a href="" class="footer-center__address-text">
                        Санкт-Петербург пр-кт Маршала Блюхера д.12к7, оф.518
                    </a>
                </div>
                <div class="footer-center__social">
                    <a href="" class="footer-center__social-link footer-center__social-link_fb btn btn__icon">
                    </a>
                    <a href="" class="footer-center__social-link footer-center__social-link_vk btn btn__icon">
                    </a>
                    <a href="" class="footer-center__social-link footer-center__social-link_inst btn btn__icon"></a>
                </div>
            </div>
        </div>
    </div>
</div>
    