.call-measurer {
    background-image: url('../img/bgCallMeasurer.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    // .call-measurer__content

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 80px 10px 70px 10px;

        @media (min-width: 768px) {
            display: block;
        }
    }

    // .call-measurer__title

    &__title {
        align-self: start;
        max-width: 390px;
        margin-bottom: 60px;

        @media (min-width: 768px) {
            margin-bottom: 28px;
        }
    }

    // .call-measurer__btn

    &__btn {
        align-self: center;
        margin-bottom: 78px;

        @media (min-width: 426px) {
            align-self: start;
        }
    }

    // .call-measurer__list

    &__list {
    }
}


