<section class="call-measurer">
    <div class="container call-measurer__container">
        <div class="call-measurer__content">
            <h2 class="call-measurer__title headline headline__second headline__second_call-measurer"><span>Бесплатный</span> вызов замерщика</h2>
            <button class="call-measurer__btn btn btn__call-measurer btn-reset">Рассчитать стоимость</button>
            <ul class="call-measurer__list call-measurer-list">
                <li class="call-measurer-list__item">
                    <span class="call-measurer-list__item-info">
                        Позвоните нам или заполните форму, на основе пожеланий и
                        требований подберем  конструкцию и аналоги и проконсультируем
                    </span>
                    <button class="call-measurer-list__btn call-measurer-list__btn_constructions btn-reset"><span>Подберем конструкцию</span></button>
                </li>
                <li class="call-measurer-list__item">
                    <span class="call-measurer-list__item-info">
                        При заключении договора - бесплатно выедем на замеры,
                        до заключения - стоимость определяется по телефону по километражу 
                    </span>
                    <button class="call-measurer-list__btn call-measurer-list__btn_measurer btn-reset"><span>Бесплатно замерим</span></button>
                </li>
                <li class="call-measurer-list__item">
                    <span class="call-measurer-list__item-info">              
                        Дадим максимально точную цену с учетом всех работ
                        и скидок за объем про принципу Цена = Качество
                    </span>
                    <button class="call-measurer-list__btn call-measurer-list__btn_calc btn-reset"><span>Быстро рассчитаем</span></button>
                </li>
            </ul>
        </div>
</section>

