.preparation-time {
    // position: absolute;
    // top: 0;
    // left: 0;
    // min-height: 100%;
    // min-width: 100%;
    background-image: url('../img/slide04.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
    // .preparation-time__container

    &__container {
        display: flex;
        align-items: center;
        justify-content: start;
    }

    // .preparation-time__content

    &__content {
        max-width: 575px;
        padding: 110px 10px 114px 10px;
    }

    // .preparation-time__top

    &__top {
    }

    // .preparation-time__title

    &__title {
    }

    // .preparation-time__text

    &__text {
        display: inline-block;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.2;
        color: $white;
        margin-bottom: 20px;

        @media (min-width: 700px) {
            font-size: 18px;
        }
    }

    // .preparation-time__bottom

    &__bottom {
    }

    // .preparation-time__btn

    &__btn {
    }
}



.btn {

    // .btn__preparation-time

    &__preparation-time {
    }
}

