.header-navigation {

    @media (max-width: 768px) {
        padding: 10px;
    }

    @media (min-width: 769px) {
        flex: 0 1 580px;
    }

    @media (min-width: 1024px) {
        flex: 0 1 722px;
    }

    // .header-navigation__burger

    &__burger {
    }

    // .header-navigation__list

    &__list {

        @media (max-width: 768px) {
            position: absolute;
            top: 100%;
            left: 0;
            height: 100vh;
            width: 100%;
            transform: translateX(-150%);
            transition: all .3s linear;
            opacity: 0;
            background-color: $tuna;
            &.show{
                opacity: 1;
                transform: translateX(0);
            }
        }

        @media (min-width: 769px) {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }

    // .header-navigation__item

    &__item {
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 1 1 auto;

        @media (max-width: 768px) {
            flex-direction: column;
            position: relative;
            align-items: flex-start;
            background-color: $tuna;

            // justify-content: start;
        }
    }

    // .header-navigation__parent

    &__parent{

        @media (max-width: 768px) {
            &::after{
                content: '';
                position: absolute;
                top: 23px;
                right: 0;
                height: 15px;
                width: 15px;
                margin-right: 40px;
                mask-image: url("../img/sprite.svg#arrow");
                mask-repeat: no-repeat;
                background-color: $flamingoDefault;
                transition: transform .3s linear;
            }
            &.active{
                &::after{
                    transform: rotate(180deg);
                }
            }
        }

    }

    // .header-navigation__link

    &__link {
        display: inline-block;
        position: relative;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.14;
        color: $mineShaft;
        padding: 14px 0 16px 0;
        transition: all .3s linear;
        &::before{
            content: '';
            position: absolute;
            left: 50%;
            bottom: 0;
            height: 2px;
            width: 0%;
            transform: translateX(-50%);
            background-color: #f06326;
            transition: width .3s linear;
        }

        @media (max-width: 768px) {
            font-size: 20px;
            color: $white;
            padding-left: 40px;
            z-index: 2;
            &.active{
                color: #f06326;
                &::before{
                    width: 100%;
                }
                &::after{
                    transform: rotate(180deg);
                }
            }
        }
        
        @media (min-width: 769px) {
            &:hover{
                color: #f06326;
                &::before{
                    width: 100%;
                }
            }
        }
    }

    // .header-navigation__child-list

    &__child-list {

        @media (max-width: 768px) {
            max-height: 0;
            width: 100%;
            padding: 0 40px;
            opacity: 0;
            overflow: hidden;
            transition: all .3s linear;
            background-color: $shark;

            &.show{
                opacity: 1;
            }
        }

        @media (min-width: 769px) {
            position: absolute;
            display: flex;
            flex-wrap: wrap;
            top: 100%;
            left: 0;
            width: 100%;
            padding: 38px 60px 50px 60px;
            background-color: $white;
            border-top: 1px solid rgba(0, 0, 0, 0.1);
            box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.25);
            border-radius: 0px 0px 1px 1px;
            opacity: 0;
            transition: all .3s linear;
            z-index: -1;
            visibility: hidden;
            &.show{
                opacity: 1;
                visibility: unset;
                z-index: 0;
            }
        }

    }

    // .header-navigation__child-item-list

    &__child-item-list {

        @media (min-width: 768px) {
            display: block;
            flex: 0 1 33.333%;
            padding: 0 10px;
            
        }
    }

    // .header-navigation__child-link-list

    &__child-link-list {
        display: inline-block;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 1.86;

        @media (max-width: 768px) {
            font-size: 16px;
            color: $white;
            padding: 6px 0;
        }

        @media (min-width: 769px) {
            position: relative;
            color: $mineShaft;
            &::before{
                content: '';
                position: absolute;
                left: 50%;
                bottom: 0;
                height: 2px;
                width: 0%;
                transform: translateX(-50%);
                background-color: #f06326;
                transition: width .3s linear;
            }
            &:hover{
                color: #f06326;
                &::before{
                    width: 100%;
                }
            }
        }
    }
}



