<section class="catalog-preview">
    <div class="container catalog-preview__container">
        <div class="catalog-preview__content">
            <h2 class="catalog-preview__title headline headline__second headline__second_catalog-preview"><span>Каталог</span> офисных перегородок и стеклянных конструкций</h2>
            <ul class="catalog-preview__nav catalog-preview-nav">
                <li class="catalog-preview-nav__item active">
                    <button class="catalog-preview-nav__btn">Перегородки</button>
                </li>
                <li class="catalog-preview-nav__item">
                    <button class="catalog-preview-nav__btn">Двери</button>
                </li>
                <li class="catalog-preview-nav__item">
                    <button class="catalog-preview-nav__btn">Стеклянные конструкции</button>
                </li>
            </ul>
            <div class="catalog-preview__carusel">
                <div class="catalog-preview__products active">
                    <div class="catalog-preview__product product-card">
                        <div class="product-card__content">
                            <div class="product-card__top">
                                <span class="product-card__price">Цена от: <span>99 500 руб/м²</span></span>
                                <span class="product-card__descr">Перегородки под ключ с проектированием и монтажом</span>

                            </div>
                            <div class="product-card__bottom">
                                <span class="product-card__title">Офисные комбинированные перегородки</span>
                            </div>
                        </div>
                    </div>
                    <div class="catalog-preview__product product-card">
                        <div class="product-card__content">
                            <div class="product-card__top">
                                <span class="product-card__price">Цена от: <span>99 500 руб/м²</span></span>
                                <span class="product-card__descr">Перегородки под ключ с проектированием и монтажом</span>

                            </div>
                            <div class="product-card__bottom">
                                <span class="product-card__title">Офисные комбинированные перегородки</span>
                            </div>
                        </div>
                    </div>
                    <div class="catalog-preview__product product-card">
                        <div class="product-card__content">
                            <div class="product-card__top">
                                <span class="product-card__price">Цена от: <span>99 500 руб/м²</span></span>
                                <span class="product-card__descr">Перегородки под ключ с проектированием и монтажом</span>

                            </div>
                            <div class="product-card__bottom">
                                <span class="product-card__title">Офисные комбинированные перегородки</span>
                            </div>
                        </div>
                    </div>
                    <div class="catalog-preview__product product-card">
                        <div class="product-card__content">
                            <div class="product-card__top">
                                <span class="product-card__price">Цена от: <span>99 500 руб/м²</span></span>
                                <span class="product-card__descr">Перегородки под ключ с проектированием и монтажом</span>

                            </div>
                            <div class="product-card__bottom">
                                <span class="product-card__title">Офисные комбинированные перегородки</span>
                            </div>
                        </div>
                    </div>
                    <div class="catalog-preview__product product-card">
                        <div class="product-card__content">
                            <div class="product-card__top">
                                <span class="product-card__price">Цена от: <span>99 500 руб/м²</span></span>
                                <span class="product-card__descr">Перегородки под ключ с проектированием и монтажом</span>

                            </div>
                            <div class="product-card__bottom">
                                <span class="product-card__title">Офисные комбинированные перегородки</span>
                            </div>
                        </div>
                    </div>
                    <div class="catalog-preview__product product-card">
                        <div class="product-card__content">
                            <div class="product-card__top">
                                <span class="product-card__price">Цена от: <span>99 500 руб/м²</span></span>
                                <span class="product-card__descr">Перегородки под ключ с проектированием и монтажом</span>

                            </div>
                            <div class="product-card__bottom">
                                <span class="product-card__title">Офисные комбинированные перегородки</span>
                            </div>
                        </div>
                    </div>
                    <div class="catalog-preview__product product-card">
                        <div class="product-card__content">
                            <div class="product-card__top">
                                <span class="product-card__price">Цена от: <span>99 500 руб/м²</span></span>
                                <span class="product-card__descr">Перегородки под ключ с проектированием и монтажом</span>

                            </div>
                            <div class="product-card__bottom">
                                <span class="product-card__title">Офисные комбинированные перегородки</span>
                            </div>
                        </div>
                    </div>
                    <div class="catalog-preview__product product-card">
                        <div class="product-card__content">
                            <div class="product-card__top">
                                <span class="product-card__price">Цена от: <span>99 500 руб/м²</span></span>
                                <span class="product-card__descr">Перегородки под ключ с проектированием и монтажом</span>

                            </div>
                            <div class="product-card__bottom">
                                <span class="product-card__title">Офисные комбинированные перегородки</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="catalog-preview__products">
                    <div class="catalog-preview__product product-card">
                        <div class="product-card__content">
                            <div class="product-card__top">
                                <span class="product-card__price">Цена от: <span>99 500 руб/м²</span></span>
                                <span class="product-card__descr">Перегородки под ключ с проектированием и монтажом</span>

                            </div>
                            <div class="product-card__bottom">
                                <span class="product-card__title">Офисные комбинированные перегородки</span>
                            </div>
                        </div>
                    </div>
                    <div class="catalog-preview__product product-card">
                        <div class="product-card__content">
                            <div class="product-card__top">
                                <span class="product-card__price">Цена от: <span>99 500 руб/м²</span></span>
                                <span class="product-card__descr">Перегородки под ключ с проектированием и монтажом</span>

                            </div>
                            <div class="product-card__bottom">
                                <span class="product-card__title">Офисные комбинированные перегородки</span>
                            </div>
                        </div>
                    </div>
                    <div class="catalog-preview__product product-card">
                        <div class="product-card__content">
                            <div class="product-card__top">
                                <span class="product-card__price">Цена от: <span>99 500 руб/м²</span></span>
                                <span class="product-card__descr">Перегородки под ключ с проектированием и монтажом</span>

                            </div>
                            <div class="product-card__bottom">
                                <span class="product-card__title">Офисные комбинированные перегородки</span>
                            </div>
                        </div>
                    </div>
                    <div class="catalog-preview__product product-card">
                        <div class="product-card__content">
                            <div class="product-card__top">
                                <span class="product-card__price">Цена от: <span>99 500 руб/м²</span></span>
                                <span class="product-card__descr">Перегородки под ключ с проектированием и монтажом</span>

                            </div>
                            <div class="product-card__bottom">
                                <span class="product-card__title">Офисные комбинированные перегородки</span>
                            </div>
                        </div>
                    </div>
                    <div class="catalog-preview__product product-card">
                        <div class="product-card__content">
                            <div class="product-card__top">
                                <span class="product-card__price">Цена от: <span>99 500 руб/м²</span></span>
                                <span class="product-card__descr">Перегородки под ключ с проектированием и монтажом</span>

                            </div>
                            <div class="product-card__bottom">
                                <span class="product-card__title">Офисные комбинированные перегородки</span>
                            </div>
                        </div>
                    </div>
                    <div class="catalog-preview__product product-card">
                        <div class="product-card__content">
                            <div class="product-card__top">
                                <span class="product-card__price">Цена от: <span>99 500 руб/м²</span></span>
                                <span class="product-card__descr">Перегородки под ключ с проектированием и монтажом</span>

                            </div>
                            <div class="product-card__bottom">
                                <span class="product-card__title">Офисные комбинированные перегородки</span>
                            </div>
                        </div>
                    </div>
                    <div class="catalog-preview__product product-card">
                        <div class="product-card__content">
                            <div class="product-card__top">
                                <span class="product-card__price">Цена от: <span>99 500 руб/м²</span></span>
                                <span class="product-card__descr">Перегородки под ключ с проектированием и монтажом</span>

                            </div>
                            <div class="product-card__bottom">
                                <span class="product-card__title">Офисные комбинированные перегородки</span>
                            </div>
                        </div>
                    </div>
                    <div class="catalog-preview__product product-card">
                        <div class="product-card__content">
                            <div class="product-card__top">
                                <span class="product-card__price">Цена от: <span>99 500 руб/м²</span></span>
                                <span class="product-card__descr">Перегородки под ключ с проектированием и монтажом</span>

                            </div>
                            <div class="product-card__bottom">
                                <span class="product-card__title">Офисные комбинированные перегородки</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="catalog-preview__products">
                    <div class="catalog-preview__product product-card">
                        <div class="product-card__content">
                            <div class="product-card__top">
                                <span class="product-card__price">Цена от: <span>99 500 руб/м²</span></span>
                                <span class="product-card__descr">Перегородки под ключ с проектированием и монтажом</span>

                            </div>
                            <div class="product-card__bottom">
                                <span class="product-card__title">Офисные комбинированные перегородки</span>
                            </div>
                        </div>
                    </div>
                    <div class="catalog-preview__product product-card">
                        <div class="product-card__content">
                            <div class="product-card__top">
                                <span class="product-card__price">Цена от: <span>99 500 руб/м²</span></span>
                                <span class="product-card__descr">Перегородки под ключ с проектированием и монтажом</span>

                            </div>
                            <div class="product-card__bottom">
                                <span class="product-card__title">Офисные комбинированные перегородки</span>
                            </div>
                        </div>
                    </div>
                    <div class="catalog-preview__product product-card">
                        <div class="product-card__content">
                            <div class="product-card__top">
                                <span class="product-card__price">Цена от: <span>99 500 руб/м²</span></span>
                                <span class="product-card__descr">Перегородки под ключ с проектированием и монтажом</span>

                            </div>
                            <div class="product-card__bottom">
                                <span class="product-card__title">Офисные комбинированные перегородки</span>
                            </div>
                        </div>
                    </div>
                    <div class="catalog-preview__product product-card">
                        <div class="product-card__content">
                            <div class="product-card__top">
                                <span class="product-card__price">Цена от: <span>99 500 руб/м²</span></span>
                                <span class="product-card__descr">Перегородки под ключ с проектированием и монтажом</span>

                            </div>
                            <div class="product-card__bottom">
                                <span class="product-card__title">Офисные комбинированные перегородки</span>
                            </div>
                        </div>
                    </div>
                    <div class="catalog-preview__product product-card">
                        <div class="product-card__content">
                            <div class="product-card__top">
                                <span class="product-card__price">Цена от: <span>99 500 руб/м²</span></span>
                                <span class="product-card__descr">Перегородки под ключ с проектированием и монтажом</span>

                            </div>
                            <div class="product-card__bottom">
                                <span class="product-card__title">Офисные комбинированные перегородки</span>
                            </div>
                        </div>
                    </div>
                    <div class="catalog-preview__product product-card">
                        <div class="product-card__content">
                            <div class="product-card__top">
                                <span class="product-card__price">Цена от: <span>99 500 руб/м²</span></span>
                                <span class="product-card__descr">Перегородки под ключ с проектированием и монтажом</span>

                            </div>
                            <div class="product-card__bottom">
                                <span class="product-card__title">Офисные комбинированные перегородки</span>
                            </div>
                        </div>
                    </div>
                    <div class="catalog-preview__product product-card">
                        <div class="product-card__content">
                            <div class="product-card__top">
                                <span class="product-card__price">Цена от: <span>99 500 руб/м²</span></span>
                                <span class="product-card__descr">Перегородки под ключ с проектированием и монтажом</span>

                            </div>
                            <div class="product-card__bottom">
                                <span class="product-card__title">Офисные комбинированные перегородки</span>
                            </div>
                        </div>
                    </div>
                    <div class="catalog-preview__product product-card">
                        <div class="product-card__content">
                            <div class="product-card__top">
                                <span class="product-card__price">Цена от: <span>99 500 руб/м²</span></span>
                                <span class="product-card__descr">Перегородки под ключ с проектированием и монтажом</span>

                            </div>
                            <div class="product-card__bottom">
                                <span class="product-card__title">Офисные комбинированные перегородки</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

