<div class="header__top">
  <div class="header-top container">
    <div class="header-top__logo header-logo">
      <svg>
        <use xlink:href="img/sprite.svg#logo"></use>
      </svg>
    </div>
    <div class="header-mail-slogan header-top__left">
      <a class="header-mail-slogan__mail" 
        href="mailto:pro@peregorodkalab.ru"
        data-da=".header-top__center,1023,1"
        data-da=".header-logo,680,1">
        pro@peregorodkalab.ru
      </a>
      <p class="header-mail-slogan__slogan" data-da=".header-top__logo,1023,last">
        Только лучшее из стекла
      </p>
    </div>
    <div class="header-worktime-tel-feedback header-top__center">
      <span class="header-worktime-tel-feedback__worktime"
      data-da=".header-top__logo,500,2">
        Пн-Пт с 9:30 до 17:30
      </span>
      <div class="header-worktime-tel-feedback__contacts">
        <a class="header-worktime-tel-feedback__tel-icon" href="tel:+78123177567">
          <svg>
            <use xlink:href="img/sprite.svg#makeCall"></use>
          </svg>
        </a>
        <div class="header-worktime-tel-feedback__tel-feedback">
          <a class="header-worktime-tel-feedback__tel" href="tel:+78123177567">
            +7 (812) 317-75-67
          </a>
          <button class="header-worktime-tel-feedback__feedback btn__order-feedback btn-reset">Заказать обратный звонок</button>
        </div>
      </div>
    </div>
    <div class="header-top__right header-info-btns">
      <ul class="header-info-btns__info">
        <li class="header-info-btns__info-item">
          <a href="#" class="header-info-btns__info-link">Оплата</a>
        </li>
        <li class="header-info-btns__info-item">
          <a href="#" class="header-info-btns__info-link">Монтаж</a>
        </li>
        <li class="header-info-btns__info-item">
          <a href="#" class="header-info-btns__info-link">Гарантии</a>
        </li>
        <li class="header-info-btns__info-item">
          <a href="#" class="header-info-btns__info-link">Скачать презентацию</a>
        </li>
      </ul>
      <div class="header-info-btns__btns">
        <button class="header-info-btns__measurer btn btn__measurer btn-reset">Вызвать замерщика</button>
        <button class="header-info-btns__calc btn btn__calc btn-reset">Калькулятор</button>
      </div>
    </div>
  </div>
</div>
         