<div class="header__bottom">
    <div class="header-bottom container">
        <div class="header-bottom__city-pinter header-city-pinter">
            <button class="header-city-pinter__btn btn-reset">
                <svg class="header-city-pinter__geo-point">
                    <use xlink:href="img/sprite.svg#geoPoint"></use>
                </svg>
                Выберите город
                <svg class="header-city-pinter__arrow">
                    <use xlink:href="img/sprite.svg#arrow"></use>
                </svg>
            </button>
        </div>                                               
        <nav class="header-bottom__navigation header-navigation">
            <button class="header-navigation__burger burger-nav">
                <span class="burger-nav__line"></span>
                <span class="burger-nav__line"></span>
                <span class="burger-nav__line"></span>
            </button>
            <ul class="header-navigation__list">
                <li class="header-navigation__item header-navigation__parent">
                    <a class="header-navigation__link" href="#">О нас</a>
                    <ul class="header-navigation__child-list show">
                        <li class="header-navigation__child-item-list">
                            <a href="" class="header-navigation__child-link-list">Миссия и принципы</a>
                        </li>
                        <li class="header-navigation__child-item-list">
                            <a href="" class="header-navigation__child-link-list">Лицензии и сертификаты</a>
                        </li>
                        <li class="header-navigation__child-item-list">
                            <a href="" class="header-navigation__child-link-list">Производство</a>
                        </li>
                        <li class="header-navigation__child-item-list">
                            <a href="" class="header-navigation__child-link-list">Команда</a>
                        </li>
                        <li class="header-navigation__child-item-list">
                            <a href="" class="header-navigation__child-link-list">Доставка</a>
                        </li>
                        <li class="header-navigation__child-item-list">
                            <a href="" class="header-navigation__child-link-list">Статьи</a>
                        </li>
                        <li class="header-navigation__child-item-list">
                            <a href="" class="header-navigation__child-link-list">Отзывы</a>
                        </li>
                        <li class="header-navigation__child-item-list">
                            <a href="" class="header-navigation__child-link-list">Вакансии</a>
                        </li>
                    </ul>
                </li>
                <li class="header-navigation__item header-navigation__parent">
                    <a class="header-navigation__link" href="#">Перегородки</a>
                    <ul class="header-navigation__child-list">
                        <li class="header-navigation__child-item-list">
                            <a href="" class="header-navigation__child-link-list">Противопожарные</a>
                        </li>
                        <li class="header-navigation__child-item-list">
                            <a href="" class="header-navigation__child-link-list">Для офиса</a>
                        </li>
                        <li class="header-navigation__child-item-list">
                            <a href="" class="header-navigation__child-link-list">Стационарные</a>
                        </li>
                        <li class="header-navigation__child-item-list">
                            <a href="" class="header-navigation__child-link-list">Стеклянные</a>
                        </li>
                        <li class="header-navigation__child-item-list">
                            <a href="" class="header-navigation__child-link-list">Алюминиевые</a>
                        </li>
                        <li class="header-navigation__child-item-list">
                            <a href="" class="header-navigation__child-link-list">Цельностеклянные</a>
                        </li>
                        <li class="header-navigation__child-item-list">
                            <a href="" class="header-navigation__child-link-list">Раздвижные</a>
                        </li>
                        <li class="header-navigation__child-item-list">
                            <a href="" class="header-navigation__child-link-list">Лофт</a>
                        </li>
                        <li class="header-navigation__child-item-list">
                            <a href="" class="header-navigation__child-link-list">Smart-glass</a>
                        </li>
                        <li class="header-navigation__child-item-list">
                            <a href="" class="header-navigation__child-link-list">С жалюзи</a>
                        </li>
                        <li class="header-navigation__child-item-list">
                            <a href="" class="header-navigation__child-link-list">Раздвижные из стекла</a>
                        </li>
                        <li class="header-navigation__child-item-list">
                            <a href="" class="header-navigation__child-link-list">Раздвижные "Гармошки"</a>
                        </li>
                        <li class="header-navigation__child-item-list">
                            <a href="" class="header-navigation__child-link-list">Звукоизолирующие</a>
                        </li>
                        <li class="header-navigation__child-item-list">
                            <a href="" class="header-navigation__child-link-list">Комбинированные с ЛДСП</a>
                        </li>
                        <li class="header-navigation__child-item-list">
                            <a href="" class="header-navigation__child-link-list">Перегородки для производственных помещений</a>
                        </li>
                    </ul>
                </li>
                <li class="header-navigation__item header-navigation__parent">
                    <a class="header-navigation__link" href="#">Двери</a>
                    <ul class="header-navigation__child-list">
                        <li class="header-navigation__child-item-list">
                            <a href="" class="header-navigation__child-link-list">Распашные</a>
                        </li>
                        <li class="header-navigation__child-item-list">
                            <a href="" class="header-navigation__child-link-list">Раздвижные</a>
                        </li>
                        <li class="header-navigation__child-item-list">
                            <a href="" class="header-navigation__child-link-list">Маятниковые</a>
                        </li>
                        <li class="header-navigation__child-item-list">
                            <a href="" class="header-navigation__child-link-list">Входные</a>
                        </li>
                        <li class="header-navigation__child-item-list">
                            <a href="" class="header-navigation__child-link-list">Автоматические</a>
                        </li>
                        <li class="header-navigation__child-item-list">
                            <a href="" class="header-navigation__child-link-list">Цельностеклянные</a>
                        </li>
                        <li class="header-navigation__child-item-list">
                            <a href="" class="header-navigation__child-link-list">Сдвижные</a>
                        </li>
                        <li class="header-navigation__child-item-list">
                            <a href="" class="header-navigation__child-link-list">Лофт</a>
                        </li>
                        <li class="header-navigation__child-item-list">
                            <a href="" class="header-navigation__child-link-list">Алюминиевые</a>
                        </li>
                        <li class="header-navigation__child-item-list">
                            <a href="" class="header-navigation__child-link-list">Противопожарные</a>
                        </li>
                        <li class="header-navigation__child-item-list">
                            <a href="" class="header-navigation__child-link-list">Slim двери</a>
                        </li>
                    </ul>
                </li>
                <li class="header-navigation__item header-navigation__parent">
                    <a class="header-navigation__link" href="#">Конструкции</a>
                    <ul class="header-navigation__child-list">
                        <li class="header-navigation__child-item-list">
                            <a href="" class="header-navigation__child-link-list">Стеклянные козырьки</a>
                        </li>
                        <li class="header-navigation__child-item-list">
                            <a href="" class="header-navigation__child-link-list">Ограждения</a>
                        </li>
                        <li class="header-navigation__child-item-list">
                            <a href="" class="header-navigation__child-link-list">Остекление шахты лифта</a>
                        </li>
                        <li class="header-navigation__child-item-list">
                            <a href="" class="header-navigation__child-link-list">Остекление террас</a>
                        </li>
                        <li class="header-navigation__child-item-list">
                            <a href="" class="header-navigation__child-link-list">Стеклянные тамбуры</a>
                        </li>
                        <li class="header-navigation__child-item-list">
                            <a href="" class="header-navigation__child-link-list">Крыши из стекла</a>
                        </li>
                        <li class="header-navigation__child-item-list">
                            <a href="" class="header-navigation__child-link-list">Зенитные фонари</a>
                        </li>
                        <li class="header-navigation__child-item-list">
                            <a href="" class="header-navigation__child-link-list">Душевые</a>
                        </li>
                        <li class="header-navigation__child-item-list">
                            <a href="" class="header-navigation__child-link-list">Полы из стекла</a>
                        </li>
                        <li class="header-navigation__child-item-list">
                            <a href="" class="header-navigation__child-link-list">Лестницы из стекла</a>
                        </li>
                    </ul>
                </li>
                <li class="header-navigation__item">
                    <a class="header-navigation__link" href="#">Акции</a>
                </li>
                <li class="header-navigation__item">
                    <a class="header-navigation__link" href="#">Цены</a>
                </li>
                <li class="header-navigation__item">
                    <a class="header-navigation__link" href="#">Проекты</a>
                </li>
                <li class="header-navigation__item">
                    <a class="header-navigation__link" href="#">Новости</a>
                </li>
                <li class="header-navigation__item">
                    <a class="header-navigation__link" href="#">Контакты</a>
                </li>
            </ul>
        </nav>
    </div>
</div>