<div class="hero-tabs">
    <div class="hero-tabs__content container">
        <div class="hero-tabs__item">
            <div class="hero-tabs__top">
                <svg class="hero-tabs__icon">
                    <use xlink:href="img/sprite.svg#iconTabs01"></use>
                </svg>
                <h3 class="hero-tabs__title">Собственное производство</h3>
            </div>
            <div class="hero-tabs__bottom">
                <p class="hero-tabs__text">
                    Обладаем мощностям от 30 до 1500 м2 площади возводимых конструкций. 
                </p>
            </div>
        </div>
        <div class="hero-tabs__item">
            <div class="hero-tabs__top">
                <svg class="hero-tabs__icon">
                    <use xlink:href="img/sprite.svg#iconTabs02"></use>
                </svg>
                <h3 class="hero-tabs__title">Аванс 10%</h3>
            </div>
            <div class="hero-tabs__bottom">
                <p class="hero-tabs__text">
                    10% аванс и - 20% на монтаж. Проектные чертежи для строителей. 
                </p>
            </div>
        </div>
        <div class="hero-tabs__item">
            <div class="hero-tabs__top">
                <svg class="hero-tabs__icon">
                    <use xlink:href="img/sprite.svg#iconTabs03"></use>
                </svg>
                <h3 class="hero-tabs__title">За 3 дня под ключ</h3>
            </div>
            <div class="hero-tabs__bottom">
                <p class="hero-tabs__text">
                    Срочно нужны Перегородки и Двери? Универсальная складская программа. 
                </p>
            </div>
        </div>
    </div>
</div>