<div class="prepayment hero__carusel-item">
    <div class="container prepayment__container">
        <div class="prepayment__content">
            <div class="prepayment__top">
                <h2 class="prepayment__title headline headline headline__first headline__first_prepayment">
                    <span>Аванс 10%</span>
                </h2>
                <span class="prepayment__text">За 10% стоимости вы фиксируете цену до 3х месяцев,
                    с возможностью бесплатного хранения на нашем складе,получаете полный комплект чертежей
                    для строительства и бонус 20% скидки на монтаж конструкций.
                </span>
                <ul class="prepayment__list">
                    <li class="prepayment__item">
                        <span class="prepayment__note">Проект конструкции бесплатно</span>
                    </li>
                    <li class="prepayment__item">
                        <span class="prepayment__note">20% скидки на монтаж всех конструкций</span>
                    </li>
                    <li class="prepayment__item">
                        <span class="prepayment__note">До 3х месяцев фиксация цены и хранение готовой конструкции на складе</span>
                    </li>
                </ul>
            </div>
            <div class="prepayment__bottom">
                <button class="prepayment__btn btn btn__prepayment btn-reset">Подробнее об акции</button>
            </div>
        </div>
    </div>
</div>