<div class="preparation-time hero__carusel-item">
    <div class="container preparation-time__container">
        <div class="preparation-time__content">
            <div class="preparation-time__top">
                <h2 class="preparation-time__title headline headline headline__first headline__first_preparation-time">
                    <span>За 3 дня под ключ</span>
                </h2>
                <span class="preparation-time__text">Перегородки и двери из наличия за 3 дня.
                    Только стандартная серия, Уточняйте размеры у менеджеров.
                </span>
            </div>
            <div class="preparation-time__bottom">
                <button class="preparation-time__btn btn btn__preparation-time btn-reset">Подробнее</button>
            </div>
        </div>
    </div>
</div>