<div class="production-capacity hero__carusel-item">
    <div class="container production-capacity__container">
        <div class="production-capacity__content">
            <div class="production-capacity__top">
                <h1 class="production-capacity__title headline headline__first headline__first_production-capacity">
                    <span>Офисные перегородки</span><br>в Cанкт-Петербурге
                </h1>
                <span class="production-capacity__subtitle">Из стекла под ключ за 3 дня</span>
                <span class="production-capacity__note">Получите расчет вашего проекта всего за 1 час!</span>
            </div>
            <div class="production-capacity__bottom">
                <button class="production-capacity__btn btn btn__feedback btn-reset">Заказать звонок</button>
                <button class="production-capacity__btn btn btn__calc_hero btn-reset">Рассчитать стоимость</button>
            </div>
        </div>
    </div>
</div>