<div class="our-statistics">
    <h2 class="our-statistics__title headline headline__second headline__second_our-statistics"><span>Почему мы</span></h2>
    <div class="our-statistics__table statistics-table">
        <div class="statistics-table__item">
            <div class="statistics-table__content">
                <div class="statistics-table__title">
                    <span class="statistics-table__title_high">10 лет</span>
                </div>
                <p class="statistics-table__text">
                    Создаем стеклянные конструкции
                    с уникальным дизайном для Вас 
                    с 2009 г.
                </p>
            </div>
        </div>
        <div class="statistics-table__item">
            <div class="statistics-table__content">
                <div class="statistics-table__title">
                    <span class="statistics-table__title_high">118 000 м²</span>
                </div>
                <p class="statistics-table__text">
                    Смонтированы и переданы
                    в эксплуатацию клиентам
                </p>
            </div>
        </div>
        <div class="statistics-table__item">
            <div class="statistics-table__content">
                <div class="statistics-table__title">
                    <span class="statistics-table__title_low"> Более</span>
                    <span class="statistics-table__title_high statistics-table__title_inline">700</span>
                    <span class="statistics-table__title_low statistics-table__title_inline">Объектов</span>
                </div>
                <p class="statistics-table__text">
                    От Санкт-Петербурга до Панамы
                    По России и Всему миру
                </p>
            </div>
        </div>
        <div class="statistics-table__item">
            <div class="statistics-table__content">
                <div class="statistics-table__title">
                    <span class="statistics-table__title_low"> Входим в</span>
                    <span class="statistics-table__title_high">топ-3</span>
                </div>
                <p class="statistics-table__text">
                    Строительных компаний полного цикла в СПБ.
                    От разработки проекта до монтажа.
                </p>
            </div>
        </div>
    </div>
</div>