<div class="our-clients">
    <h2 class="our-clients__title headline headline__second headline__second_our-clients">Среди наших клиентов</h2>
    <div class="our-clients__row clients-row">
        <div class="clients-row__carusel">
            <div class="clients-row__item">
                <svg>
                    <use xlink:href="img/sprite.svg#client01"></use>
                </svg>
            </div>
            <div class="clients-row__item">
                <svg>
                    <use xlink:href="img/sprite.svg#client02"></use>
                </svg>
            </div>
            <div class="clients-row__item">
                <svg>
                    <use xlink:href="img/sprite.svg#client03"></use>
                </svg>
            </div>
            <div class="clients-row__item">
                <svg>
                    <use xlink:href="img/sprite.svg#client04"></use>
                </svg>
            </div>
        </div>
    </div>
</div>