$defaultFont: Roboto;
$Raleway: Raleway;

//  COLOR
$white: #fff;
$black: #000;
$gray: #858585;
$tuna:#3c3d42;
$shark:#2d2f34;
$ghostWhite:#f9f9f9;
$athensGray: #f0f0f1;
$dustyGray: #959595;
$mineShaft: #202020;
$flamingoDefault: #f76425;
$flamingoLight: #F36327;
$btnColorDefault: #fff;
