<div class="ideas-sliders__items">
    <div class="idea-item show">
        <h3 class="idea-item__title headline__third headline__third-idea">
            <span>Готовые решения</span> для зонирования офиса
        </h3>
        <span class="idea-item__price">от 2 980 руб/м2</span>
        <p class="idea-item__decsr">
            Перегородка Lab - это ведущая компания, выполняющая
            работы по проектированию и воплощению внутреннего пространства
            офисов, административных учреждений, жилых помещений. 
        </p>
        <button class="idea-item__btn btn btn__idea btn-reset">Подробнее</button>
        <div class="idea-item__slider">
                <div class="idea-item__carusel">
                    <img class="idea-item__carusel-img" src="img/ideaCarusel0101.jpg" alt="">
                    <img class="idea-item__carusel-img" src="img/ideaCarusel0102.jpg" alt="">
                    <img class="idea-item__carusel-img" src="img/ideaCarusel0103.jpg" alt="">
                </div>
        </div>
        <div class="idea-item__nav-slider">
            <button class="idea-item__btn-arrow idea-item__btn-arrow_prew btn-reset"></button>
            <button class="idea-item__btn-arrow idea-item__btn-arrow_next btn-reset"></button>
            <span class="idea-item__nav-text">Листайте</span>
        </div>
    </div>
    <div class="idea-item">
        <h3 class="idea-item__title headline__third headline__third-idea">
            <span>Зонирование и шумоизоляция</span>
        </h3>
        <span class="idea-item__price">от 18 890 руб/м2</span>
        <p class="idea-item__decsr">
            Данные перегородки обеспечивают не только удобное зонирование,
            но и качественную шумоизоляцию – до 52 Дб. Панели легко
            перемещаются в потолочном треке.
        </p>
        <button class="idea-item__btn btn btn__idea btn-reset">Подробнее</button>
        <div class="idea-item__slider">
            <div class="idea-item__carusel">
                <img class="idea-item__carusel-img" src="img/ideaCarusel0201.jpg" alt="">
                <img class="idea-item__carusel-img" src="img/ideaCarusel0202.jpg" alt="">
                <img class="idea-item__carusel-img" src="img/ideaCarusel0203.jpg" alt="">
            </div>
        </div>
        <div class="idea-item__nav-slider">
            <button class="idea-item__btn-arrow idea-item__btn-arrow_prew btn-reset"></button>
            <button class="idea-item__btn-arrow idea-item__btn-arrow_next btn-reset"></button>
            <span class="idea-item__nav-text">Листайте</span>
        </div>
    </div>
    <div class="idea-item">
        <h3 class="idea-item__title headline__third headline__third-idea">
            <span>Мобильыне решения</span>
        </h3>
        <span class="idea-item__price">от 6 280 руб/м2</span>
        <p class="idea-item__decsr">
            Осуществляем оптовые поставки комплектов экранов для
            офисных столов. Мобильные экраны для рабочих
            поверхностей – из Стекла, ЛДСП и с мягкой тканевой отделкой.
        </p>
        <button class="idea-item__btn btn btn__idea btn-reset">Подробнее</button>
        <div class="idea-item__slider">
            <div class="idea-item__carusel">
                <img class="idea-item__carusel-img" src="img/ideaCarusel0301.jpg" alt="">
                <img class="idea-item__carusel-img" src="img/ideaCarusel0302.jpg" alt="">
                <img class="idea-item__carusel-img" src="img/ideaCarusel0303.jpg" alt="">
            </div>
        </div>
        <div class="idea-item__nav-slider">
            <button class="idea-item__btn-arrow idea-item__btn-arrow_prew btn-reset"></button>
            <button class="idea-item__btn-arrow idea-item__btn-arrow_next btn-reset"></button>
            <span class="idea-item__nav-text">Листайте</span>
        </div>
    </div>
    <div class="idea-item">
        <h3 class="idea-item__title headline__third headline__third-idea">
            <span>Дизайнерские</span>
        </h3>
        <span class="idea-item__price">от 5 980 руб/м2</span>
        <p class="idea-item__decsr">
            Полный комплекс по проектированию и изготовлению не стандартных
            решений для офисных пространств. Используем дизайнерское стекло,
            смарт-стекло и архитектурные плёнки.
        </p>
        <button class="idea-item__btn btn btn__idea btn-reset">Подробнее</button>
        <div class="idea-item__slider">
            <div class="idea-item__carusel">
                <img class="idea-item__carusel-img" src="img/ideaCarusel0401.jpg" alt="">
                <img class="idea-item__carusel-img" src="img/ideaCarusel0402.jpg" alt="">
                <img class="idea-item__carusel-img" src="img/ideaCarusel0403.jpg" alt="">
            </div>
        </div>
        <div class="idea-item__nav-slider">
            <button class="idea-item__btn-arrow idea-item__btn-arrow_prew btn-reset"></button>
            <button class="idea-item__btn-arrow idea-item__btn-arrow_next btn-reset"></button>
            <span class="idea-item__nav-text">Листайте</span>
        </div>
    </div>
    <div class="idea-item">
        <h3 class="idea-item__title headline__third headline__third-idea">
            <span>Огнестойкие</span>
        </h3>
        <span class="idea-item__price">от 18 980 руб/м2</span>
        <p class="idea-item__decsr">
            Стеклянные противопожарные перегородки в алюминиевом профиле
            или профиле из нержавеющей стали. Мы являемся производителем
            конструкций с параметрами E/I/W от 15 – 90 м.
        </p>
        <button class="idea-item__btn btn btn__idea btn-reset">Подробнее</button>
        <div class="idea-item__slider">
            <div class="idea-item__carusel">
                <img class="idea-item__carusel-img" src="img/ideaCarusel0501.jpg" alt="">
                <img class="idea-item__carusel-img" src="img/ideaCarusel0502.jpg" alt="">
                <img class="idea-item__carusel-img" src="img/ideaCarusel0503.jpg" alt="">
            </div>
        </div>
        <div class="idea-item__nav-slider">
            <button class="idea-item__btn-arrow idea-item__btn-arrow_prew btn-reset"></button>
            <button class="idea-item__btn-arrow idea-item__btn-arrow_next btn-reset"></button>
            <span class="idea-item__nav-text">Листайте</span>
        </div>
    </div>
</div> 