<div class="ideas_ideas-sliders ideas-sliders">
    <div class="ideas-sliders__carusel show" data-visible="true">
        <img class="ideas-sliders__carusel-img" src="img/ideaCarusel0101.jpg" alt="">
        <img class="ideas-sliders__carusel-img" src="img/ideaCarusel0102.jpg" alt="">
        <img class="ideas-sliders__carusel-img" src="img/ideaCarusel0103.jpg" alt="">
    </div>
    <div class="ideas-sliders__carusel" data-visible="false">
        <img class="ideas-sliders__carusel-img" src="img/ideaCarusel0201.jpg" alt="">
        <img class="ideas-sliders__carusel-img" src="img/ideaCarusel0202.jpg" alt="">
        <img class="ideas-sliders__carusel-img" src="img/ideaCarusel0203.jpg" alt="">
    </div>
    <div class="ideas-sliders__carusel" data-visible="false">
        <img class="ideas-sliders__carusel-img" src="img/ideaCarusel0301.jpg" alt="">
        <img class="ideas-sliders__carusel-img" src="img/ideaCarusel0302.jpg" alt="">
        <img class="ideas-sliders__carusel-img" src="img/ideaCarusel0303.jpg" alt="">
    </div>
    <div class="ideas-sliders__carusel" data-visible="false">
        <img class="ideas-sliders__carusel-img" src="img/ideaCarusel0401.jpg" alt="">
        <img class="ideas-sliders__carusel-img" src="img/ideaCarusel0402.jpg" alt="">
        <img class="ideas-sliders__carusel-img" src="img/ideaCarusel0403.jpg" alt="">
    </div>
    <div class="ideas-sliders__carusel" data-visible="false">
        <img class="ideas-sliders__carusel-img" src="img/ideaCarusel0501.jpg" alt="">
        <img class="ideas-sliders__carusel-img" src="img/ideaCarusel0502.jpg" alt="">
        <img class="ideas-sliders__carusel-img" src="img/ideaCarusel0503.jpg" alt="">
    </div>
</div>
