<section class="ideas">
    <div class="container ideas__container">
        <div class="ideas__content">
            <h2 class="ideas__title headline headline__second headline__second_ideas"><span>Идеи</span></h2>
            <ul class="ideas__navigation nav-bar-ideas">
                <li class="nav-bar-ideas__item active">
                    <button class="nav-bar-ideas__btn btn-reset">
                        <svg class="nav-bar-ideas__svg nav-bar-ideas__svg01">
                            <use xlink:href="img/sprite.svg#idea01"></use>
                        </svg>
                        Готовые решения
                    </button>
                </li>
                <li class="nav-bar-ideas__item">
                    <button class="nav-bar-ideas__btn btn-reset">
                        <svg class="nav-bar-ideas__svg nav-bar-ideas__svg02">
                            <use xlink:href="img/sprite.svg#idea02"></use>
                        </svg>
                        Зонирование и шумоизоляция
                    </button>
                </li>
                <li class="nav-bar-ideas__item">
                    <button class="nav-bar-ideas__btn btn-reset">
                        <svg class="nav-bar-ideas__svg nav-bar-ideas__svg03">
                            <use xlink:href="img/sprite.svg#idea03"></use>
                        </svg>
                        Мобильные решения
                    </button>
                </li>
                <li class="nav-bar-ideas__item">
                    <button class="nav-bar-ideas__btn btn-reset">
                        <svg class="nav-bar-ideas__svg nav-bar-ideas__svg04">
                            <use xlink:href="img/sprite.svg#idea04"></use>
                        </svg>
                        Дизайнерские
                    </button>
                </li>
                <li class="nav-bar-ideas__item">
                    <button class="nav-bar-ideas__btn btn-reset">
                        <svg class="nav-bar-ideas__svg nav-bar-ideas__svg05">
                            <use xlink:href="img/sprite.svg#idea05"></use>
                        </svg>
                        Огнестойкие
                    </button>
                </li>
                <li class="nav-bar-ideas__item">
                    <div class="nav-bar-ideas__btn nav-bar-ideas__btn_last">
                        <svg class="nav-bar-ideas__svg nav-bar-ideas__svg06">
                            <use xlink:href="img/sprite.svg#idea06"></use>
                        </svg>
                        <a href="#" class="nav-bar-ideas__link">
                            В каталог
                        </a>
                    </div>
                </li>
            </ul>
            @@include('_ideas-sliders-items.html')
        </div>
    </div>
        @@include('_ideas-slider-carusel.html')
</section>
